<a href="https://colab.research.google.com/github/Karenncv/Data2/blob/main/Data_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

We are going to star *promming*

# **1. What is Phyton?**

Phyton it was created in 1991 and can do anything

#**1.1 Why phyton?**

It is free.
It is open source. 
It´s easy to learn. ***This is the advantage in phyton***

## 3.1 Phyton is a calculater

In [ ]:
# Addition 
2+2

4

In [ ]:
# Substraction 
2-2

0

In [ ]:
# Multiplication 
120*85

10200

In [ ]:
# Exponential 
5**2

25

In [ ]:
# Division 
10/3

3.3333333333333335

In [ ]:
# Integer Division
10//3

3

## 3.2 Compesite Operations 

*Operator Procedence*
* the first is multipliaction or division
* then adittion or substraction

In [ ]:
#Example
30-5*4/2+7

27.0

The parentheses ( ) this modify the operator precedence, it´s very important be careful with it.

In [ ]:
# Example 
(30-5)*4/2+7

57.0

## 3.3 Integers and Real Numbers 

when you used (int) is a integers numbers 

| Math | Code |
|------|------|
| Integers | integers (int) |
| Real | Float point (float) |

The *funtion* 'type()'  let´s us check 
its for check the number is integers or float point 
In the float point is important the point ( . ) no the ( , ) this is a error.

In [ ]:
type(26.5)

float

## **Scietific Notation**

The "form" = 'x*10y it is written as Xey

In [ ]:
#Example 
1.52e2

152.0

What happen if you want represent ´0.25' with scientific notation?

In [ ]:
0.0025e2

0.25

In [ ]:
# Its more easier than the after example 
2.5e-1

0.25

In [ ]:
25e-2

0.25

In [ ]:
#Example 2
1.5e^5

SyntaxError: ignored

### **Transformation** 

Is when you transform a integer number for float number and vicevers

In [ ]:
# Example Int to Float 
float(5)

5.0

In [ ]:
# Example float to int 
int(7.25)

7

## 3.4. Basic functions

### **Print**

In [ ]:
# Number example 
print(2022,8,11)

2022 8 11

In [ ]:
# String (alpabelth) Example
print('rodrigo')

rodrigo

In [ ]:
# Example more complicated
print('First name: Karen','Last name: Caicedo')

print('First name: Karen\tLast name: Caicedo')

print('First name: Karen\nLast name: Caicedo')

First name: Karen Last name: Caicedo
First name: Karen	Last name: Caicedo
First name: Karen
Last name: Caicedo

In [ ]:
print('First name:', 'Karen','Last name:', 'Caicedo')

First name: Karen Last name: Caicedo

In [ ]:
# More complicated number example 
for i in range(0,10): print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# Combine string and numbers
print('my favorite number is:',4, 'because..')

my favorite number is: 4 because..

### **Round**

In [ ]:
# Example 
round(1.253,2)

1.25

In [ ]:
# practice 
# Consider the number 7.2354 
# print every result for rounding from 3 to 0 

print( 'Round with' , 0, 'decimals', round(7.2354,0))
print( 'Round with' , 1, 'decimals', round(7.2354,1))
print( 'Round with' , 2, 'decimals', round(7.2354,2))
print( 'Round with' , 3, 'decimals', round(7.2354,3))

Round with 0 decimals 7.0
Round with 1 decimals 7.2
Round with 2 decimals 7.24
Round with 3 decimals 7.235

In [ ]:
#you used this for more beutiful de answer 
for i in range(0,4): print( 'Round with' , i, 'decimals', round(7.2354,i))

Round with 0 decimals 7.0
Round with 1 decimals 7.2
Round with 2 decimals 7.24
Round with 3 decimals 7.235

In [1]:
#Practice
#Print the firts 100 multiples of the number 2
print('this is the list of the 100th multiples of 2')
for i in range(1,101): print ('positions:' , i, 'multiples:',(2*i))

this is the list of the 100th multiples of 2
positions: 1 multiples: 2
positions: 2 multiples: 4
positions: 3 multiples: 6
positions: 4 multiples: 8
positions: 5 multiples: 10
positions: 6 multiples: 12
positions: 7 multiples: 14
positions: 8 multiples: 16
positions: 9 multiples: 18
positions: 10 multiples: 20
positions: 11 multiples: 22
positions: 12 multiples: 24
positions: 13 multiples: 26
positions: 14 multiples: 28
positions: 15 multiples: 30
positions: 16 multiples: 32
positions: 17 multiples: 34
positions: 18 multiples: 36
positions: 19 multiples: 38
positions: 20 multiples: 40
positions: 21 multiples: 42
positions: 22 multiples: 44
positions: 23 multiples: 46
positions: 24 multiples: 48
positions: 25 multiples: 50
positions: 26 multiples: 52
positions: 27 multiples: 54
positions: 28 multiples: 56
positions: 29 multiples: 58
positions: 30 multiples: 60
positions: 31 multiples: 62
positions: 32 multiples: 64
positions: 33 multiples: 66
positions: 34 multiples: 68
positions: 35 multiples: 70
positions: 36 multiples: 72
positions: 37 multiples: 74
positions: 38 multiples: 76
positions: 39 multiples: 78
positions: 40 multiples: 80
positions: 41 multiples: 82
positions: 42 multiples: 84
positions: 43 multiples: 86
positions: 44 multiples: 88
positions: 45 multiples: 90
positions: 46 multiples: 92
positions: 47 multiples: 94
positions: 48 multiples: 96
positions: 49 multiples: 98
positions: 50 multiples: 100
positions: 51 multiples: 102
positions: 52 multiples: 104
positions: 53 multiples: 106
positions: 54 multiples: 108
positions: 55 multiples: 110
positions: 56 multiples: 112
positions: 57 multiples: 114
positions: 58 multiples: 116
positions: 59 multiples: 118
positions: 60 multiples: 120
positions: 61 multiples: 122
positions: 62 multiples: 124
positions: 63 multiples: 126
positions: 64 multiples: 128
positions: 65 multiples: 130
positions: 66 multiples: 132
positions: 67 multiples: 134
positions: 68 multiples: 136
positions: 69 multiples: 138
positions: 70 multiples: 140
positions: 71 multiples: 142
positions: 72 multiples: 144
positions: 73 multiples: 146
positions: 74 multiples: 148
positions: 75 multiples: 150
positions: 76 multiples: 152
positions: 77 multiples: 154
positions: 78 multiples: 156
positions: 79 multiples: 158
positions: 80 multiples: 160
positions: 81 multiples: 162
positions: 82 multiples: 164
positions: 83 multiples: 166
positions: 84 multiples: 168
positions: 85 multiples: 170
positions: 86 multiples: 172
positions: 87 multiples: 174
positions: 88 multiples: 176
positions: 89 multiples: 178
positions: 90 multiples: 180
positions: 91 multiples: 182
positions: 92 multiples: 184
positions: 93 multiples: 186
positions: 94 multiples: 188
positions: 95 multiples: 190
positions: 96 multiples: 192
positions: 97 multiples: 194
positions: 98 multiples: 196
positions: 99 multiples: 198
positions: 100 multiples: 200

### Absolut value

In [2]:
# Example
abs(-25)

25