<a href="https://colab.research.google.com/github/Karenncv/Data2/blob/main/Data_3_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. What's a Variable? 

*Container*, **store** values

# 2. Declaration and Assigment

In [ ]:
# Example 

a = 3

In [ ]:
# Example using variable 
print(a +1)

4

In [ ]:
# Example 
x = y = z = 100
print(x,y,z)

100 100 100

# 3. Delete and clear

In [ ]:
# Example- delenting a simple variable 

age=21
av=150
del age
#the funcion is ¨del¨ when you want delate one variable 
#if you want delete 2 vaviables you used the ¨,¨

In [ ]:
# Example- delenting a list variable 
del a,av

In [ ]:
# Example - erase or clear all variables
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [ ]:
a = 7.2345

In [ ]:
for i in range (0,4): print('Round with', i , "decimals", round(a,i))

Round with 0 decimals 7.0
Round with 1 decimals 7.2
Round with 2 decimals 7.23
Round with 3 decimals 7.234

In [ ]:
print('this is the list of the 100th multiples of' ,x,':')
x = 2
for i in range(1,101): print ('positions:' , i, 'multiples:',(x*i))

this is the list of the 100th multiples of 2 :
positions: 1 multiples: 2
positions: 2 multiples: 4
positions: 3 multiples: 6
positions: 4 multiples: 8
positions: 5 multiples: 10
positions: 6 multiples: 12
positions: 7 multiples: 14
positions: 8 multiples: 16
positions: 9 multiples: 18
positions: 10 multiples: 20
positions: 11 multiples: 22
positions: 12 multiples: 24
positions: 13 multiples: 26
positions: 14 multiples: 28
positions: 15 multiples: 30
positions: 16 multiples: 32
positions: 17 multiples: 34
positions: 18 multiples: 36
positions: 19 multiples: 38
positions: 20 multiples: 40
positions: 21 multiples: 42
positions: 22 multiples: 44
positions: 23 multiples: 46
positions: 24 multiples: 48
positions: 25 multiples: 50
positions: 26 multiples: 52
positions: 27 multiples: 54
positions: 28 multiples: 56
positions: 29 multiples: 58
positions: 30 multiples: 60
positions: 31 multiples: 62
positions: 32 multiples: 64
positions: 33 multiples: 66
positions: 34 multiples: 68
positions: 35 multiples: 70
positions: 36 multiples: 72
positions: 37 multiples: 74
positions: 38 multiples: 76
positions: 39 multiples: 78
positions: 40 multiples: 80
positions: 41 multiples: 82
positions: 42 multiples: 84
positions: 43 multiples: 86
positions: 44 multiples: 88
positions: 45 multiples: 90
positions: 46 multiples: 92
positions: 47 multiples: 94
positions: 48 multiples: 96
positions: 49 multiples: 98
positions: 50 multiples: 100
positions: 51 multiples: 102
positions: 52 multiples: 104
positions: 53 multiples: 106
positions: 54 multiples: 108
positions: 55 multiples: 110
positions: 56 multiples: 112
positions: 57 multiples: 114
positions: 58 multiples: 116
positions: 59 multiples: 118
positions: 60 multiples: 120
positions: 61 multiples: 122
positions: 62 multiples: 124
positions: 63 multiples: 126
positions: 64 multiples: 128
positions: 65 multiples: 130
positions: 66 multiples: 132
positions: 67 multiples: 134
positions: 68 multiples: 136
positions: 69 multiples: 138
positions: 70 multiples: 140
positions: 71 multiples: 142
positions: 72 multiples: 144
positions: 73 multiples: 146
positions: 74 multiples: 148
positions: 75 multiples: 150
positions: 76 multiples: 152
positions: 77 multiples: 154
positions: 78 multiples: 156
positions: 79 multiples: 158
positions: 80 multiples: 160
positions: 81 multiples: 162
positions: 82 multiples: 164
positions: 83 multiples: 166
positions: 84 multiples: 168
positions: 85 multiples: 170
positions: 86 multiples: 172
positions: 87 multiples: 174
positions: 88 multiples: 176
positions: 89 multiples: 178
positions: 90 multiples: 180
positions: 91 multiples: 182
positions: 92 multiples: 184
positions: 93 multiples: 186
positions: 94 multiples: 188
positions: 95 multiples: 190
positions: 96 multiples: 192
positions: 97 multiples: 194
positions: 98 multiples: 196
positions: 99 multiples: 198
positions: 100 multiples: 200

# 4.Naming

## 4.1. Conditions and restrictions 

the names must have only alphanumeric characters 

( from '0 to 1'.'a to z', 'A to Z' **and underscore' _'**

**WARMING**
The variable never begin with  a number

In [ ]:
#Example
My_age = 21
person1= 'me'

In [ ]:
#21q = 22 its bad because begin with a number

## 4.2. Best Practices

*Variables are case sentitive:

In [ ]:
# Example 

age = 12
Age = 13
AGE = 14

# A little change is a diferent variable is a diferent

The best practice in Python is to used lower case (letras minusculas)

* Composite names

In [ ]:
# example 
book_price = 100
book_quant = 20

* Use meaninful names 

Names should tell you something, Because its more crearly

# 5.Data types

# 5.1. Integers

In [ ]:
book_price = 100
print(type(book_price))

<class 'int'>

In [ ]:
cell_price = 25.5
print(type(cell_price))

<class 'float'>

# Phyton as a calculator

In [ ]:
# Example 

x = 3
y = 4
z = 5
print('x + y =', x + y )
print('x * y =', x + z )

x + y = 7
x * y = 8

Let´s try a **nice trick**

In [ ]:
# Nice trick 

w = 0

In [ ]:
# Nice trick 

w +=2
print(w)

# its 0+2 repeat diferents times

6

## 5.3 Booleans 

there are variables with values of true or false

In [ ]:
# Example 

is_sunny = True
print(type(is_sunny))

<class 'bool'>

More important are **boleans expressions**

In [ ]:
# Example 
x = 2
y = 3 

print('is x equal to y?', x == y)
print('is x NOT equal to y?', x != y)
print('is x greater than y?', x > y)
print('is x less than y?', x < y)

is x equual to y? False
is x NOT equual to y? True
is x greater than y? False
is x less than y? True

In [ ]:
# practice - hard mode 

# Using loops, you are going to evatuale the boleans expressions b-e
#  x + y 
#  for x = 1,2,3.... 10
#  for y = 11,12,13....,20

In [ ]:
# A solution 
print('is x + y > x * y ?')
for x in range(1,11):
  for y in range(11,21):
    print('is', x , '+' , y , '>', x , '*', y , '?', x + y > x * y)

is x + y > x * y ?
is 1 + 11 > 1 * 11 ? True
is 1 + 12 > 1 * 12 ? True
is 1 + 13 > 1 * 13 ? True
is 1 + 14 > 1 * 14 ? True
is 1 + 15 > 1 * 15 ? True
is 1 + 16 > 1 * 16 ? True
is 1 + 17 > 1 * 17 ? True
is 1 + 18 > 1 * 18 ? True
is 1 + 19 > 1 * 19 ? True
is 1 + 20 > 1 * 20 ? True
is 2 + 11 > 2 * 11 ? False
is 2 + 12 > 2 * 12 ? False
is 2 + 13 > 2 * 13 ? False
is 2 + 14 > 2 * 14 ? False
is 2 + 15 > 2 * 15 ? False
is 2 + 16 > 2 * 16 ? False
is 2 + 17 > 2 * 17 ? False
is 2 + 18 > 2 * 18 ? False
is 2 + 19 > 2 * 19 ? False
is 2 + 20 > 2 * 20 ? False
is 3 + 11 > 3 * 11 ? False
is 3 + 12 > 3 * 12 ? False
is 3 + 13 > 3 * 13 ? False
is 3 + 14 > 3 * 14 ? False
is 3 + 15 > 3 * 15 ? False
is 3 + 16 > 3 * 16 ? False
is 3 + 17 > 3 * 17 ? False
is 3 + 18 > 3 * 18 ? False
is 3 + 19 > 3 * 19 ? False
is 3 + 20 > 3 * 20 ? False
is 4 + 11 > 4 * 11 ? False
is 4 + 12 > 4 * 12 ? False
is 4 + 13 > 4 * 13 ? False
is 4 + 14 > 4 * 14 ? False
is 4 + 15 > 4 * 15 ? False
is 4 + 16 > 4 * 16 ? False
is 4 + 17 > 4 * 17 ? False
is 4 + 18 > 4 * 18 ? False
is 4 + 19 > 4 * 19 ? False
is 4 + 20 > 4 * 20 ? False
is 5 + 11 > 5 * 11 ? False
is 5 + 12 > 5 * 12 ? False
is 5 + 13 > 5 * 13 ? False
is 5 + 14 > 5 * 14 ? False
is 5 + 15 > 5 * 15 ? False
is 5 + 16 > 5 * 16 ? False
is 5 + 17 > 5 * 17 ? False
is 5 + 18 > 5 * 18 ? False
is 5 + 19 > 5 * 19 ? False
is 5 + 20 > 5 * 20 ? False
is 6 + 11 > 6 * 11 ? False
is 6 + 12 > 6 * 12 ? False
is 6 + 13 > 6 * 13 ? False
is 6 + 14 > 6 * 14 ? False
is 6 + 15 > 6 * 15 ? False
is 6 + 16 > 6 * 16 ? False
is 6 + 17 > 6 * 17 ? False
is 6 + 18 > 6 * 18 ? False
is 6 + 19 > 6 * 19 ? False
is 6 + 20 > 6 * 20 ? False
is 7 + 11 > 7 * 11 ? False
is 7 + 12 > 7 * 12 ? False
is 7 + 13 > 7 * 13 ? False
is 7 + 14 > 7 * 14 ? False
is 7 + 15 > 7 * 15 ? False
is 7 + 16 > 7 * 16 ? False
is 7 + 17 > 7 * 17 ? False
is 7 + 18 > 7 * 18 ? False
is 7 + 19 > 7 * 19 ? False
is 7 + 20 > 7 * 20 ? False
is 8 + 11 > 8 * 11 ? False
is 8 + 12 > 8 * 12 ? False
is 8 + 13 > 8 * 13 ? False
is 8 + 14 > 8 * 14 ? False
is 8 + 15 > 8 * 15 ? False
is 8 + 16 > 8 * 16 ? False
is 8 + 17 > 8 * 17 ? False
is 8 + 18 > 8 * 18 ? False
is 8 + 19 > 8 * 19 ? False
is 8 + 20 > 8 * 20 ? False
is 9 + 11 > 9 * 11 ? False
is 9 + 12 > 9 * 12 ? False
is 9 + 13 > 9 * 13 ? False
is 9 + 14 > 9 * 14 ? False
is 9 + 15 > 9 * 15 ? False
is 9 + 16 > 9 * 16 ? False
is 9 + 17 > 9 * 17 ? False
is 9 + 18 > 9 * 18 ? False
is 9 + 19 > 9 * 19 ? False
is 9 + 20 > 9 * 20 ? False
is 10 + 11 > 10 * 11 ? False
is 10 + 12 > 10 * 12 ? False
is 10 + 13 > 10 * 13 ? False
is 10 + 14 > 10 * 14 ? False
is 10 + 15 > 10 * 15 ? False
is 10 + 16 > 10 * 16 ? False
is 10 + 17 > 10 * 17 ? False
is 10 + 18 > 10 * 18 ? False
is 10 + 19 > 10 * 19 ? False
is 10 + 20 > 10 * 20 ? False

In [ ]:
# tables of the multiplications 1 for 9

for x in range(1,9):
  print('table of', x, ':')
  for y in range(1,9):
    print(x,'*',y ,'=' , x*y)

table of 1 :
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
table of 2 :
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
table of 3 :
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
table of 4 :
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
table of 5 :
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
table of 6 :
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
table of 7 :
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
table of 8 :
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64

## 5.4 Strings 

These  are variables that store text

In [ ]:
#Basic Examples
first_name = 'Karen'
last_name = 'Caicedo'
print(first_name,last_name)

Karen Caicedo

In [ ]:
#Basic operation 
full_name = first_name + ' ' + last_name
print(full_name)

Karen Caicedo

In [ ]:
# Warning 

shoe_price = '100'
print(shoe_price, 100)
float(shoe_price)

100 100

100.0

### *sciling* 

it means divide or ise a sub-string

In [1]:
# Example 
x = 'Universidad de la Salle'

In [ ]:
### *sciling* 

print('First element of x:',x[0])
print('last element of x:',x[-1])
print('Sub string of x:', x[0:11])

First element of x: U
last element of x: e
Sub string of x: Universidad

### *Useful Methods*

Methods are like *Fuctions* for variables.

In [2]:
# Example - Upper case
#variablename.upper()

x.upper()

'UNIVERSIDAD DE LA SALLE'

In [3]:
# Example - lower case

x.lower()

'universidad de la salle'

In [6]:
#Example - Replace 

fn = 'Jose Rodrigo Velez Molano'

fn = fn.replace('Jose', 'José')
print(fn)

fn = fn.replace('Velez','Vélez')
print(fn)

José Rodrigo Velez Molano
José Rodrigo Vélez Molano

In [8]:
#Example 2 - Replace 
#With double space
FN = 'JOSE  RODRIGO' 
FN = FN.replace('  ',' ')
print(FN)

JOSE RODRIGO

In [18]:
# Example 3 -Replace  

q = ['Ana  Maria', 'Juan  Carlos']
print(q)
print(type(q))
#q.replace('  ',' ')

for i in q: 
  k = i.replace('  ',' ')
  print(k)

['Ana  Maria', 'Juan  Carlos']
<class 'list'>
Ana Maria
Juan Carlos

In [22]:
# Example - Find

x = 'Universidad de la salle'

x.find('la')

15

In [27]:
# Example - find hard level 

q = ['Cristian Perez', 'Karen Caicedo']

for i in q: 
  tmp = i.find(' ')
  first_name = i[0:tmp]
  middle_name = i[tmp+1:]
  print(first_name)
  print(middle_name)

Cristian
Perez
Karen
Caicedo

In [28]:
# Example - Split

x = 'Universidad de la salle'
x.split(' ')

['Universidad', 'de', 'la', 'salle']

In [29]:
x = 'Universidad de la salle'
x.split('d')
# Eliminate the letters that you put in the ()

['Universi', 'a', ' ', 'e la salle']

In [30]:
tt = '$100'
tt.split('$')

['', '100']